@model NovoProjetoCrianca.Models.Professor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar</h1>

<h3>Tem certeza?</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.especializacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.especializacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turma.nomeTurma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
    </form>
</div>
