@model NovoProjetoCrianca.Models.Encaminhamento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Encaminhamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entidade.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assistentesocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assistentesocial.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aluno.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivo)
        </dt>
        <dd class = "col-sm-10">

            @if (Model.motivo)
            {
                @:Evasão Escolar
            }
            else
            {
                @:Abandono Familiar
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatadeEncaminhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatadeEncaminhamento)
        </dd>
    </dl>
</div>
<div class="text-center mt-3">
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model?.id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
</div>
