@model IEnumerable<NovoProjetoCrianca.Models.Visita>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Visitas</h1>

<p>
    <a asp-action="Create">Adicionar nova visita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assistenteSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dadofamilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assistenteSocial.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dadofamilia.HistoricoFamiliar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtendimento)
            </td>
            <td>
                    @if (item.observacao)
                    {
                        @:Resolvido
                    }
                    else
                    {
                        @:Não Resolvido
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
