@model IEnumerable<NovoProjetoCrianca.Models.Consultas.ProfesTurmCurso>

@{
    ViewData["Title"] = "ProfesTurmCurso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Status Academico</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.professor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curso)
            </td>
         
        </tr>
}
    </tbody>
</table>
