@model IEnumerable<NovoProjetoCrianca.Models.Chamada>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chamadas</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Adicionar Chamada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatadeChamada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presenca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.matricula.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatadeChamada)
            </td>
            <td>
                    @if (item.Presenca)
                    {
                        @: Sim
                    }
                    else
                    {
                        @:Não
                    }
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.id">Editar</a>
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.id">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
