@model NovoProjetoCrianca.Models.Matricula

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turma.nomeTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aluno.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusMatricula)
        </dd>
    </dl>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model?.id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
</div>

