@model IEnumerable<NovoProjetoCrianca.Models.Matricula>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">


    <!-- Campo para filtrar por nome do aluno -->
    <div class="form-group">
        <label for="nomeAluno">Nome do Aluno:</label>
        <input type="text" id="nomeAluno" name="nome" class="form-control" placeholder="Digite o nome do aluno" />
    </div>
    <br />


    <!-- Botão de submissão -->
    <div class="form-group text-center">
        <input type="submit" value="Filtrar" class="btn btn-success btn-lg" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.turma.nomeTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusMatricula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
