@model IEnumerable<NovoProjetoCrianca.Models.Matricula>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Matriculas</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Adicionar Matricula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.turma.nomeTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusMatricula)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.id">Editar</a>
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.id">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
