@model IEnumerable<NovoProjetoCrianca.Models.DadoFamilia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dados Familiares</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Adicionar um novo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatadeNascimentoMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoneMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatadeNascimentoPai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoFamiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatadeNascimentoMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoneMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomePai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatadeNascimentoPai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonePai)
            </td>
            <td>
                    @if (item.HistoricoFamiliar)
                    {
                        @:Pobreza
                    }
                    else
                    {
                        @:Abandono
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.id">Editar</a> 
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.id">Detalhes</a> 
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.id">Apagar</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
