@model IEnumerable<NovoProjetoCrianca.Models.Atendimento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Atendimentos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="index">




    <div class="form-group">
        <label for="idAluno">Informe o Nome do Assistente Social:</label>
        <input type="text" id="idAssistente" name="nomeAssistente" class="form-control" placeholder="Digite o nome do assistente" />
    </div>



    <div class="form-group text-center">
        <input type="submit" value="Filtrar" class="btn btn-success btn-lg" />
    </div>
    <br />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assistenteSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dadofamilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assistenteSocial.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dadofamilia.HistoricoFamiliar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtendimento)
            </td>
            <td>
                    @if (item.observacao)
                    {
                        @:Resolvido
                    }
                    else
                    {
                        @:Não resolvido
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
